@model NasaPlanner.Models.Mission

<h1>@Html.DisplayFor(model => model.MissionName)</h1>

<h3>Number of Days: @Html.DisplayFor(model => model.Days)</h3>
<h3>Number of Tasks: @Html.DisplayFor(model => model.Tasks)</h3>
<!--<h3>Number of Astronauts needed: @Html.DisplayFor(model => model.Astronauts)</h3>-->